<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Cities For Youth - About</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
<body>

    <!--Navbar Elements-->
    <nav id="navbar">
        
        <ul>
            <li>
                <link rel="icon" type="image/png" href="images/Logo.png"/>
            </li>
            <li>
                <a href="a"><button type="button">CITIES FOR YOUTH</button></a>
            </li>
            <li>
                <a href="a"><button type="button">OUR PARTNERS</button></a>
            </li>
            <li>
                <a href="workshops.html"><button type="button">WORKSHOPS</button></a>
            </li>
            <li>
                <a href="#banner"><button type="button">ABOUT</button></a>
            </li>
            <li>
                <a href="a"><button type="button">BLOG</button></a>
            </li>
        </ul>
    </nav>

    <div class="banner">
        <img src="" alt="banner image" class="banner image">
    </div>

    <p class="absolute-position">
        Youth-led <br> city building
    </p>

    <div id="basicText">
        <h3>Creating Places. Engaging Minds.</h3>
        <p>We are creating meaningful ways for youth to shape equitable and sustainable cities.</p>
    </div>

    <div id="dimmedImage">
        <img src="./images/people-2567915_1280.jpg">
        <img src="./images/startup-594090_640.jpg">
    </div>

    <div id="basicText">
        <h3>News & Views</h3>
        <p>Our latest youth engagement events and stories.</p>
    </div>

    <div class="row">
        <div class="left-column">
            <img>
            <h3>Title</h3>
            <br>
            <p>
                News description 1
            </p>
            <button type="button">LEARN MORE</button>
        </div>

        <div class="mid-column">
            <img>
            <h3>Title</h3>
            <br>
            <p>
                News description 2
            </p>
            <button type="button">LEARN MORE</button>
        </div>

        <div class="right-column">
            <img>
            <h3>Title</h3>
            <br>
            <p>
                News description 3
            </p>
            <button type="button">LEARN MORE</button>
        </div>
    </div>

    <div id="blog">
        <button type="button">VISIT OUR BLOG</button>
        <p>for more stories from our team.</p>
    </div>

    <div id="contactUs">
        <p>Interested in working with us? <strong>Let's chat.</strong></p>
        <button type="button">CONTACT US</button>
    </div>
        <!-- Footer
    <div class="footer">
        <p>
            This is my footer.
        </p>
    </div> -->

</body>
</html>
