<!DOCTYPE html>
<html lang="eng">
<head>
    <title>Cities For Youth</title>
    <link rel="stylesheet" type="text/css" href="workshops.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alatsi&family=Cormorant+SC:wght@300&family=EB+Garamond:ital@1&family=Inter&family=Island+Moments&family=Lato&family=Merriweather:wght@700&family=Oswald&family=Poppins:wght@200&family=Roboto:ital,wght@0,500;1,300&family=Share+Tech+Mono&family=Silkscreen:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <!--Navbar Elements-->
    <nav id="navbar">
        
        <ul>
            <li>
                <img src="Logo.png" alt="logo">
            </li>
            <li>
                <a href="home.html"><button type="button">CITIES FOR YOUTH</button></a>
            </li>
            <li>
                <a href="a"><button type="button">OUR PARTNERS</button></a>
            </li>
            <li>
                <a href="workshops.html"><button type="button">WORKSHOPS</button></a>
            </li>
            <li>
                <a href="a"><button type="button">ABOUT</button></a>
            </li>
            <li>
                <a href="a"><button type="button">BLOG</button></a>
            </li>
        </ul>
    </nav>

    <div class="banner">
        <img src="" class="banner image">
    </div>

    <h1 class="absolute-position">
        Workshops
    </h1>

    </div>
  <h3 class="intro"> We help students tackle existing and emerging challenges in cities through experiential city-<br>
    building workshops. </h3>
  <div class="workshops">
<div class= "city">
    <img class="w1" src="workshop1.png"/>
  <h2> City Building Workshops</h2>
  <p>City <em>Builders</em> is an <strong> introductory Urban Planning x Design Thinking workshop </strong> that is fun and hands-on. We will work with you to customize the workshop to the students' needs and level of learning, and to support any course curriculum requirements or objectives</p>
</div>
    <div class = "neighbourhood">
      <h2> Livable Neighbourhoods Workshops</h2>
    </div>
  </div>

    <!-- Footer
    <div class="footer">
        <p>
            This is my footer.
        </p>
    </div> -->

</body>
</html>
